@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{ 
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    background-color:#FF7F50;
    max-width: 1000px;
}


.a1{ /* detta är till div */
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header,main{
    background-color: #F5F8BB;
    border-radius: 20px;
    min-height: 100px;
    padding: 20px;
}

.logga{ /* till sälva bilden*/
    width: 100px;
    float: left;
}

nav li{
    display: inline;
}

h1,h2{ /* titeln och andra titel */
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

main{
    margin-top: 20px;
    line-height: 1.5em;
}

p{ /* till slälva texten*/
    color: black;
    font-size: 99%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style-type: none;
    align-content: center;
    text-align: center;
}


h3{ /*tredje rukriken */
    color: black;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large ;
}




.lank{ /* till länkarna */
    color: black;
    font-size: x-large;
    text-decoration: none;
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}   




@media only screen and (min-width:601px) and (max-width:800px){
    }

    @media only screen and (min-width:50px) and (max-width:600px){
        nav ul{
            padding-left: 0px;
        }
        nav li
        {display: block;}
    
        
        *{
            margin: 0;
            padding: 0;
        }
        
        h1{
            text-align: center;
            background-color: white;
            font-size: 1.6em;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    
        .logga{
            display: none;
        }
        

        .lank{
        display: inline-block;
        background-color: aquamarine;
        text-align: center;
        text-decoration: none;
        width: 100%;
        margin-bottom: 10px;
        margin-left: -8px;
        padding-top: 10px;
        padding-bottom: 10px;
        }
    
        h3{
            font-size: 1.6em;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        ul{
            list-style-type: none;
            margin-top: 20px;
            margin-left: 20px
        }
    }

